body {
    font-family: 'Open Sans', sans-serif;
    direction:rtl;
    overflow-x:hidden;
    background-color: #222;
    padding-bottom:80px;
}

html,
body {
    height: 100%;
}

header {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    background-color: #222;
    background-size: cover;    
    
 
}
.navbar-header{
    height:100px;  
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.login-register{
    direction:ltr;
    background-color:#333;
  
    
}
.login-register li{
    color:white;
    text-align:center;
    height: 30px;
    line-height: 30px;
}
.login-register #title{
    color:red;
   
}
.login-register #login-btn{
    height: 24px;
    line-height: 14px;
    margin-top: 10px;
    width: 100%;
}
.login-register input{
    color:darkblue;
    background-color:Highlight;
   
}

#register-link {
    color:red;
}

#register-link:hover {
    background-color:yellow;
}
.logout{
    display:none;
}
.dropdown-menu .divider{
    height:5px;
}
.dropdown-menu>li>a{
    color:red;
}
video{
    width: 100%;
    height: 100%;   
    margin: -2.2% 0px 0px 0px;
    
}

.msg{   
    height: 35%;
    position:absolute;
    text-align: center;
    width: 100%;
    width: 100%;
    top: 50%;
    color:whitesmoke;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 6px 5px #001135;
}
.down-button {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;

}
.down-button i {
    color: white;
    opacity:0.7;
}
#down-btn2{
     position: absolute;
         bottom: 10%;


}
.title-image{
    width:100%;
    opacity:0.5;
}
#second{
    position:relative;
}
.about-us{
    color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 6px 5px #001135;
    font-size: 5vh;
    text-align:center;
    top: 30%;
    position: absolute;
    width: 100%;
    line-height: 5vh;

}
@media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }
}
.navbar-inverse .navbar-nav>li>a {

}
.fa-sign-out{
    color: red;
    margin-top: 5px;

}

.cbp-af-header-shrink {
    height:53px;
}

.fill-screen{
    background-size: cover;
    background-position: center;
    overflow:hidden;
}

.fixed-attachment {
    background-attachment: fixed;
}
.content-filler {
    min-height: 350px;
}

.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px){
    .fixed-attachment {
        background-attachment: scroll;
    }	
}
.register-img {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}
#carousel {
    margin: 3px 0px;
}
#carousel img {
    width: 100%;
    height: auto;
}
.collapsed{
    height:53px;
}
#nav-ul>li>a:hover {
   pointer-events: none;
   color: #999;
}
#reg-a{
    color: red;
}
#registration{
    background-color:red;
    width:20%;
    position:absolute;
    top:10%;
    right: 5%;
    height: 80%;
    border-radius: 10px;   
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
}

#dashboard{
    background-color:gainsboro;
    width:80%;
    position:absolute;
    top:10%;
    right: 10%;
    height: 80%;
    border-radius: 10px;   
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
    opacity:0.8;
}
.form-control{
    width:90%;
    margin: auto;
    height: 3vh;

}
.form-h3{
    font-size: 2.9vh;
    margin:auto;
    padding-right: 5%;

}
#first-h3{
    margin-top: 5%;
}
#registration-btn{
    width: 50%;
    margin-right: 25%;
}
.update-class{
    visibility:hidden;

}
.manager{
    visibility:visible;
    color:black;
    background-color:red
}

.red-strike{
    color:red;
    text-decoration:line-through;
}
footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

.separate{
    color: red;
    position: relative;
    top: -34px;
    opacity:1;
}
#lessons{
    border-collapse:collapse;
    border: dashed 2px blue;
}
#hi_admin_name{
    margin-right:3%;
}
#dashboard_container{
    width: 90%;
    margin: auto;

}
#bts_tbl input{
    color:black;
}
#input_container {
    text-align: center;
}

#input_container p{
    font-weight:bold;
    font-size:4vh;
}
#input_lesson_id{
    background-color:burlywood;
}
#lessons th,td{
    color:red;
     border: solid 2px darkgray;

}
#submit_btn{
    margin-right:10px;
}
.table>tfoot>tr.danger>td,.table>tbody>tr.danger>td{
     border: solid 2px darkgray;

}
.table input,#input_lesson_id{
    background-color:burlywood;
    line-height:200%;

}

#active{
    background-color:#1e201f;
}
li{
    font-weight: bold;    
    height: 50px;

}
strong{
    color:red;
}
h1{
    font-size: 60px;
}
h2{
    font-size:40px;
    padding-bottom:10px;
}

@media (max-width: 767px) {

    .range-list h4 {
        display: inline;
        font-size: 18px;
    }

    .range-list a {
        display: block;
    }

    .range-list img {
        width: 33%;
        height: 33%;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

}


/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}